.b1{
    background-color: #bdfbfc;
}
.d11{
    border-radius:10%;
    display: flex;
    justify-content: center;
}
.d1{
    background-color:white;
    height: 400px;
    width: 260px;
    margin-top: 100px;
    border-radius: 5%;
}
.img{
    height: 200px;
    width: 200px;
    border-radius:7%;
    margin-top: 12px;
    margin-left:30px;

}
.d2{
    height:225px ;
    width: 260px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    /* background-color:forestgreen; */

}
.d3{
    /* background-color: blueviolet; */
}
.d4{
    /* background-color: blue; */
}
.p1{
    font-weight:1000;
    color: black;
    text-align: center;
    font-size:  18px;
}
.p2{
    color: grey;
    font-weight:900 ;
    text-align: center;
    font-size: 15px;
}